<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.theme.icon_pack.nothingdot"
    android:versionCode="1"
    android:versionName="1.0">
    <application 
        android:label="NothingDot Icon Pack" 
        android:hasCode="false">
        <meta-data
            android:name="axion_theme"
            android:value="signal,wifi" />
    </application>
</manifest>